<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Список фильмов</title>
</head>
<body>
<div class="container">
    <h1>Список фильмов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Отзыв</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.title }}</td>
                    <td>{{ film.description }}</td>
                    <td>{{ film.review }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'film_create' %}" class="btn btn-primary">Добавить фильм</a>
</div>
</body>
</html>